@import "tailwindcss";

@font-face {
  font-family: 'Qumpellkano';
  src: url('./assets/Qumpellkano.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  margin: 0 auto;
  text-align: center;
}
.custom-qumpell {
  font-family: 'Qumpellkano';
}